body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
  
.bg-img {
    /* The image used */
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),url('../images/main-page.jpg');
    min-height: 1000px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    
  }

  .logo{
    content: url("../images/logo.png");
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }

  .navbar-nav li a, .navbar-nav li a:visited{
      margin: 20px;
      font-size: large;
      font-weight: 200;
      /* border: 1px solid #3a9e3e; */
      /* border-radius: 15%; */
      text-decoration: none;
      color:black;
      font-weight: 500 ;
      font-family: sans-serif;
  }
  .navbar-nav li a:hover,.navbar-nav li:nth-child(1)>a{
      background-color: #3a9e3e;
      border-radius:10%;
      color: white;
      transition-duration:0ms
  }



  .navbar-toggler{
      border-color: #3a9e3e;    
  }

  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,158,62, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .text-animation{
      position:relative;
      top:300px;
      justify-content: center;
      text-align: center;
      /* color:rgb(15, 128, 118); */
      color:#3a9e3e;
      font-family: 'Courgette';

  }
  .text-animation span{
      font-size: 70px;
  }

  .px-4{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
  }


  /* tiles styling */

  #main-tiles{
      padding: 0%;
      width:90% !important;
  }

  #hosting,#register,#group{
      overflow: hidden ;
      height: 300px;
      margin-bottom: 50px;

  }

  #hosting{

  }
  #register{
     
  }
  #group{
      width: 95% !important;
      position: relative;
      right: 20px;
    
  }

  .hostimage,.regimage,.groupimage{
    height: 300px;
    width:420px;
    background-size:cover;
    border: 1px solid black;
    text-align: center;
  }

  .hostimage{
    background: url('../images/tile1.jpg') no-repeat;
  }
  .regimage{
    background: url('../images/tile2.jpg') no-repeat;
  }
  .groupimage{
    background: url('../images/tile3.jpg') no-repeat;
  }
  .tile-title{
      position: relative;
      color:black;
      font-weight:bolder;
      font-size:25px;
      font-family:'Courier New', Courier, monospace;
     
  }

  .tilename{
    text-decoration: none !important;
    background-color: white;
    opacity: 80%;
    padding: 5px;
    position: relative;
    height: 70%;
    top: 28%;
    
}
.eltext h1, .eltext p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.elaborate{
 background:black;
 color:rgb(140, 217, 223);
 font-weight: 500;

 /* margin-bottom: 5px; */
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

.hostimage:hover .elaborate,.regimage:hover .elaborate,.groupimage:hover .elaborate{
width: 418px;
height: 300px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.9; 
}

/* end of the tiles styles */

/* start of the sharng page tiles */

#bg-image1{
background-image: url('../images/sharing.jpg');
height: 100%;
background-size: cover;
min-height:1000px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: relative;
}


/* contact us page style  */

        .contact-container {
          display: flex;
          width: 100vw;
          height: 100vh;
          background: var(--bg-color);
        }

        .left-col {
          width: 45vw;
          height: 100%;
          background-image: url("../images/contact-us.jpg");
          background-size: cover;
          background-repeat: no-repeat;
        }

        .logo {
          width: 10rem;
          padding: 1.5rem;
        }

        .right-col {
          background: var(--bg-color);
          width: 50vw;
          height: 100vh;
          padding: 5rem 3.5rem;
        }

       .contact-container h1,.contact-container label, .contact-container button, .description {
          font-family: 'Jost', sans-serif;
          font-weight: 400;
          letter-spacing: 0.1rem;
        }

        .contact-container h1 {
          color:var(--h1-color);
          text-transform: uppercase;
          font-size: 2.5rem;
          letter-spacing: 0.5rem;
          font-weight: 300;
        }

        .contact-container p {
          color: var(--secondary-color);
          font-size: 0.9rem;
          letter-spacing: 0.01rem;
          width: 40vw;
          margin: 0.25rem 0;
        }

        .contact-container label, .description {
          color: var(--secondary-color);
          text-transform: uppercase;
          font-size: 0.625rem;
        }

        .contact-container form {
          width: 31.25rem;
          position: relative;
          margin-top: 2rem;
          padding: 1rem 0;
        }

        .contact-container input, .contact-container textarea, .contact-container label {
          width: 40vw;
          display: block;
        }

        .contact-container   p, .contact-container   placeholder, .contact-container   input, .contact-container   textarea {
          font-family: 'Helvetica Neue', sans-serif;
        }

        .contact-container   input::placeholder, .contact-container   textarea::placeholder {
          color: var(--primary-color);
        }

        .contact-container input, .contact-container textarea {
          color: #3a9e3e;
          font-weight: 500;
          background: white;
          border: none;
          border-bottom: 1px solid black;
          padding: 0.5rem 0;
          margin-bottom: 1rem;
          outline: none;
        }

        .contact-container textarea {
          resize: none;
        }

        .contact-container button {
          text-transform: uppercase;
          font-weight: 300;
          background: #3a9e3e;
          color: white;
          width: 10rem;
          height: 2.25rem;
          border: none;
          border-radius: 2px;
          outline: none;
          cursor: pointer;
        }

        .contact-container   input:hover, .contact-container   textarea:hover, .contact-container   button:hover {
          opacity: 0.5;
        }

        .contact-container   button:active {
          opacity: 0.8;
        }

        /* Toggle Switch */

        .description {
            margin-left: 1.25rem;
          }

        .contact-container   input:checked + .slider {
          background-color: var(--button-color);
        }

        .contact-container   input:checked + .slider:before {
          transform: translateX(26px);
        }

        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }

        #error, #success-msg {
          width: 40vw;
          margin: 0.125rem 0;
          font-size: 0.75rem;
          text-transform: uppercase;
          font-family: 'Jost';
          color: var(--secondary-color);
          }
  
          #success-msg {
          transition-delay: 3s;
          }

          
          #contact-cont{
            margin-top: 20px;
          }



/* footer Styles */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

    footer {
      font-family: Roboto;
      margin-top: 20px;
    }

    .footer-distributed {
      background-color: #292c2f;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: normal 16px sans-serif;
      padding: 45px 50px;
    }

    .footer-distributed .footer-left p {
      color: #8f9296;
      font-size: 14px;
      margin: 0;
    }
    /* Footer links */

    .footer-distributed p.footer-links {
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      margin: 0 0 10px;
      padding: 0;
      transition: ease .25s;
    }

    .footer-distributed p.footer-links a {
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit;
      transition: ease .25s;
    }

    .footer-distributed .footer-links a:before {
      content: "·";
      font-size: 20px;
      left: 0;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }

    .footer-distributed .footer-links .link-1:before {
      content: none;
    }

    .footer-distributed .footer-right {
      float: right;
      margin-top: 6px;
      max-width: 180px;
    }

    .footer-distributed .footer-right a {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-left: 3px;
      transition:all .25s;
    }

    .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

    .footer-distributed p.footer-links a:hover{text-decoration:underline;}


  /* Media Queries */



  /* medium screens */
    @media (min-width: 768px) and (max-width: 991px) {

 
}

/* small screens */

    @media (max-width: 767px) {
        .navbar-nav{
            background-color: white;
            text-align: center;
        }
        .navbar-nav li a, .navbar-nav li a:visited{
            padding: 10px;
            border-bottom: 1px solid black;
        }

        .navbar-nav li a:hover, .navbar-nav li:nth-child(1)>a{
            border-radius: 0%;
        }
        .fixed-top{
            position: relative;
        }
      .logo{
          content: url("../images/logo3.png");
      }
    
    }



    /* media query for contact us  */

    @media only screen and (max-width: 950px) {
      .logo {
        width: 8rem;
      }
      .contact-container   h1 {
        font-size: 1.75rem;
      }
      .contact-container   p {
        font-size: 0.7rem;
      }
      .contact-container   input, .contact-container   textarea, .contact-container   button {
        font-size: 0.65rem;
      }
      .description {
        font-size: 0.3rem;
        margin-left: 0.4rem;
      }
      .contact-container   button {
        width: 7rem;
      }
      .theme-switch-wrapper {
        width: 120px;
      }
      .theme-switch {
      height: 28px;
      width: 50px;
    }

    .theme-switch input {
      display:none;
    }

    .slider:before {
      background-color: #fff;
      bottom: 0.25rem;
      content: "";
      width: 20px;
      height: 20px;
      left: 0.25rem;
      position: absolute;
      transition: .4s;
    }
    .contact-container input:checked + .slider:before {
      transform: translateX(16px);
    }

    .slider.round {
      border-radius: 15px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    }



    /* footer media queries */


    @media (max-width: 600px) {
      .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
      }
      .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
      }
      .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
      }
    }