body {
    margin: 0 auto;
    height: 100%;
    width: 100%
  }
  
.bg-img {
    /* The image used */
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),url('../images/main-page.jpg');
    min-height: 1000px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    
  }

  .logo{
    content: url("../images/logo.png");
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }

  .navbar-nav li a, .navbar-nav li a:visited{
      margin: 20px;
      font-size: large;
      font-weight: 200;
      /* border: 1px solid #3a9e3e; */
      /* border-radius: 15%; */
      text-decoration: none;
      color:black;
      font-weight: 500 ;
      font-family: sans-serif;
  }
  .navbar-nav li a:hover,.navbar-nav li:nth-child(1)>a{
      background-color: #3a9e3e;
      border-radius:10%;
      color: white;
      transition-duration:0ms
  }



  .navbar-toggler{
      border-color: #3a9e3e;    
  }

  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,158,62, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .text-animation{
      position:relative;
      top:300px;
      justify-content: center;
      text-align: center;
      /* color:rgb(15, 128, 118); */
      color:#3a9e3e;
      font-family: 'Courgette';

  }
  .text-animation span{
      font-size: 70px;
  }

  .px-4{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
  }


  /* tiles styling */

  #main-tiles{
      padding: 0%;
      width:90% !important;
  }

  #hosting,#register,#group{
      overflow: hidden ;
      height: 300px;
      margin-bottom: 50px;

  }

  #hosting{

  }
  #register{
     
  }
  #group{
      width: 95% !important;
      position: relative;
      right: 20px;
    
  }

  .hostimage,.regimage,.groupimage{
    height: 300px;
    width:420px;
    background-size:cover;
    border: 1px solid black;
    text-align: center;
  }

  .hostimage{
    background: url('../images/tile1.jpg') no-repeat;
  }
  .regimage{
    background: url('../images/tile2.jpg') no-repeat;
  }
  .groupimage{
    background: url('../images/tile3.jpg') no-repeat;
  }
  .tile-title{
      position: relative;
      color:black;
      font-weight:bolder;
      font-size:25px;
      font-family:'Courier New', Courier, monospace;
     
  }

  .tilename{
    text-decoration: none !important;
    background-color: white;
    opacity: 80%;
    padding: 5px;
    position: relative;
    height: 70%;
    top: 28%;
    
}
.eltext h1, .eltext p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.elaborate{
 background:black;
 color:rgb(140, 217, 223);
 font-weight: 500;

 /* margin-bottom: 5px; */
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

.hostimage:hover .elaborate,.regimage:hover .elaborate,.groupimage:hover .elaborate{
width: 418px;
height: 300px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.9; 
}
  

  /* Media Queries */


  /* medium screens */
    @media (min-width: 768px) and (max-width: 991px) {

 
}

/* small screens */

    @media (max-width: 767px) {
        .navbar-nav{
            background-color: white;
            text-align: center;
        }
        .navbar-nav li a, .navbar-nav li a:visited{
            padding: 10px;
            border-bottom: 1px solid black;
        }

        .navbar-nav li a:hover, .navbar-nav li:nth-child(1)>a{
            border-radius: 0%;
        }
        .fixed-top{
            position: relative;
        }
      .logo{
          content: url("../images/logo3.png");
      }
    
    }

